//fonts
@font-face {
  font-family: 'Montserrat-Bold', sans-serif;
  src: url(../../src/fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url(../../src/fonts/Montserrat-Regular.ttf);
}
// variables
$primary_font_family: 'Montserrat', sans-serif;
$heading: 'Montserrat-Bold', sans-serif;
$white: #ffffff;
$secondary_color: #4621AD;
$head_color: #303336;
$para_color:#7B8591;
$grey:#E8E8E8;

body{

  font-family: $primary_font_family;
}
.bg{
 width: 100%;
 height: 100vh;
 background-image:linear-gradient(rgba(18, 0, 67, 0.9),
 rgba(70, 33, 173, 0.8)),
 url('../img/bg_image.jpg');
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 opacity: 0.83;
}
.content{
 
  text-align: center;
   color: white;
   margin-top: 5rem;
  .join_us{
     width: 50%;
     margin: 0 auto;
    h1{
      font-family: $heading;
      font-size: 40px;
    }
    p{
      font-family: $primary_font_family;
      font-size: 14px;
    }
  }
  .highlights{
    
    margin:40px auto;
    text-align: center;
    h5{
      width: 80%;
      margin: .5rem auto;
      font-size: 18px;
      font-family: $heading;
    }
    p{
      width: 80%;
      margin: .7rem auto;
      font-size: 12px;
      font-family: $primary_font_family;
    }
  }
  
}
.cta_login {
  width: 10rem;
  border: 1px solid $white;
  border-radius: 25px;
  background-color: $white;
  color: $secondary_color;
  text-align: center;
  margin: 2rem;
}
.cta_signup {
  width: 10rem;
  border: 1px solid $white;
  border-radius: 25px;
  background-color: transparent;
  color: $white;
  text-align: center;
  margin: 2rem;
}
.articles{
  h1{
    margin-top: 5rem;
    color: $head_color;
    font-size: 40px;
    font-family: $heading;
    font-weight: 700;
  }
  p{
    color: $para_color;
    font-size: 12px;
    font-family: $primary_font_family;
  }
  .col-lg-2 , .col-md-2{
    max-width: 20%;
    flex: 0 0 20%;
}
.card{
  border-radius: 10px;
  box-shadow: 0px 3px 6px #00000029;
  border: unset;
  margin-bottom: 2rem;
.card-body{
  padding: 0;
  img{
    width: 100%;
  }
  .profile {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
  }
  .contents{
    padding: 1rem;
    position: relative;
      h5{
        font-size: 9px;
        font-family: $heading;
        font-weight: 700;
        color: $head_color;
        }
      p{
       font-size: 7px;
       color: $para_color;
       margin-bottom: 0;
       }
       a{
         color: $heading;
         position: absolute;
         top: 1rem;
         right: 1rem;
         background-color: $grey;
         border-radius: 35px;
         padding: .2rem .6rem;
       }
          }
        }
    }
}

.newrules{
  .card{
     border-radius: 10px;
     box-shadow: 0px 3px 6px #00000029;
     border: unset;
     margin-bottom: 2rem;
     .card-body{
       &.fullimage{
         padding: 0;
       }
     }
     h1{
       font-size: 24px;
       font-family: $heading;
       color: $head_color;
       font-weight: 700;
     }
     h2{
       padding: 15px 15px 0 15px ;
       font-family: $heading;
       color: $head_color;
       font-size: 18px;
       font-weight: 700;
       margin-bottom: 0px;
     }
     h6{
       padding: 15px 15px 0 15px;
       font-family: $primary_font_family;
       color: $para_color;
       font-size: 12px;
     }
     h5{
       font-size: 14px;
       color: $head_color;
       font-family: $heading;
       font-weight: 500;
     }
     p{
       font-size: 12px;
       font-family: $primary_font_family;
       color: $para_color;
       margin-bottom: 10px;
     }
     a{
       border: 1px solid $head_color;
       border-radius: 3px;
       padding: 3px 6px;
     }
     table{
       a{
          color: $heading;
          top: 1rem;
          right: 1rem;
          background-color: $grey;
          border-radius: 35px;
          padding: .2rem .6rem;
          border: unset;
       }
     }
  }
  
}

@media (max-width:576px){
  .bg{
    height: auto;
    .content{
      .highlights{
        margin: 1rem auto;
      }
    .join_us{
      width: 70%;
    }
  }
  }
  .cta_login, .cta_signup{
    margin:1rem;
  }
  .articles{
     .col-lg-2,
     .col-md-2 {
       max-width: 100%;
       flex: 0 0 100%;
     }
  }
}