@font-face {
  font-family: 'Montserrat-Bold', sans-serif;
  src: url(../../src/fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url(../../src/fonts/Montserrat-Regular.ttf);
}

body {
  font-family: "Montserrat", sans-serif;
}

.bg {
  width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(18, 0, 67, 0.9)), to(rgba(70, 33, 173, 0.8))), url("../img/bg_image.jpg");
  background-image: linear-gradient(rgba(18, 0, 67, 0.9), rgba(70, 33, 173, 0.8)), url("../img/bg_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.83;
}

.content {
  text-align: center;
  color: white;
  margin-top: 5rem;
}

.content .join_us {
  width: 50%;
  margin: 0 auto;
}

.content .join_us h1 {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 40px;
}

.content .join_us p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.content .highlights {
  margin: 40px auto;
  text-align: center;
}

.content .highlights h5 {
  width: 80%;
  margin: .5rem auto;
  font-size: 18px;
  font-family: "Montserrat-Bold", sans-serif;
}

.content .highlights p {
  width: 80%;
  margin: .7rem auto;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}

.cta_login {
  width: 10rem;
  border: 1px solid #ffffff;
  border-radius: 25px;
  background-color: #ffffff;
  color: #4621AD;
  text-align: center;
  margin: 2rem;
}

.cta_signup {
  width: 10rem;
  border: 1px solid #ffffff;
  border-radius: 25px;
  background-color: transparent;
  color: #ffffff;
  text-align: center;
  margin: 2rem;
}

.articles h1 {
  margin-top: 5rem;
  color: #303336;
  font-size: 40px;
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}

.articles p {
  color: #7B8591;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}

.articles .col-lg-2, .articles .col-md-2 {
  max-width: 20%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

.articles .card {
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border: unset;
  margin-bottom: 2rem;
}

.articles .card .card-body {
  padding: 0;
}

.articles .card .card-body img {
  width: 100%;
}

.articles .card .card-body .profile {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
}

.articles .card .card-body .contents {
  padding: 1rem;
  position: relative;
}

.articles .card .card-body .contents h5 {
  font-size: 9px;
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
  color: #303336;
}

.articles .card .card-body .contents p {
  font-size: 7px;
  color: #7B8591;
  margin-bottom: 0;
}

.articles .card .card-body .contents a {
  color: "Montserrat-Bold", sans-serif;
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #E8E8E8;
  border-radius: 35px;
  padding: .2rem .6rem;
}

.newrules .card {
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border: unset;
  margin-bottom: 2rem;
}

.newrules .card .card-body.fullimage {
  padding: 0;
}

.newrules .card h1 {
  font-size: 24px;
  font-family: "Montserrat-Bold", sans-serif;
  color: #303336;
  font-weight: 700;
}

.newrules .card h2 {
  padding: 15px 15px 0 15px;
  font-family: "Montserrat-Bold", sans-serif;
  color: #303336;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0px;
}

.newrules .card h6 {
  padding: 15px 15px 0 15px;
  font-family: "Montserrat", sans-serif;
  color: #7B8591;
  font-size: 12px;
}

.newrules .card h5 {
  font-size: 14px;
  color: #303336;
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 500;
}

.newrules .card p {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: #7B8591;
  margin-bottom: 10px;
}

.newrules .card a {
  border: 1px solid #303336;
  border-radius: 3px;
  padding: 3px 6px;
}

.newrules .card table a {
  color: "Montserrat-Bold", sans-serif;
  top: 1rem;
  right: 1rem;
  background-color: #E8E8E8;
  border-radius: 35px;
  padding: .2rem .6rem;
  border: unset;
}

@media (max-width: 576px) {
  .bg {
    height: auto;
  }
  .bg .content .highlights {
    margin: 1rem auto;
  }
  .bg .content .join_us {
    width: 70%;
  }
  .cta_login, .cta_signup {
    margin: 1rem;
  }
  .articles .col-lg-2,
  .articles .col-md-2 {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
/*# sourceMappingURL=main.css.map */